body{
    font-family: 'Nunito Sans', sans-serif;
    }
    nav{
    display: flex; justify-content:space-between; margin-top: 50px; margin-left: 150px; margin-right: 150px;
    }
    .input-group-text {

        background-color: unset;
        border: unset;
        border-radius: unset;
        border-bottom: 2px solid #A9A9A999;
        color: #A9A9A999;
      }
      .form-control {
        
        border: unset;
        border-radius: unset;
        border-bottom: 2px solid #A9A9A999;

      }


    